<html>
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Entanglement</title>

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="../resources/css/tachyons.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/additions.css"/>
    <link rel="stylesheet" href="../resources/node_modules/lightbox2/dist/css/lightbox.css">

    <!-- Scripts -->
    <script type='text/javascript' src='../resources/js/jquery-3.2.1.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TweenMax.min.js"></script>
    <script type='text/javascript' src="../resources/js/iframeResizer.js"></script>
    <script type='text/javascript' src="../resources/node_modules/lightbox2/dist/js/lightbox.js"></script>
    <script type='text/javascript' src="../resources/js/ScrollMagic.min.js"></script>
    <script type='text/javascript' src="../resources/js/animation.gsap.min.js"></script>
    <script type='text/javascript' src="../resources/js/debug.addIndicators.min.js"></script>

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">

  </head>
  <body class="cf lora f5-ns f6 dark-gray bg-lighter-gray">

    <!-- Header -->
    <header class="w-100 center bg-lighter-gray fixed z-max">
      <div class="w-100 cf mw7 center bg-lighter-gray pb1 pt2 bb b--light-gray">

        <!-- Site title and logo -->
        <div class="w-30 fl mt1 pl4">
          <h1 class="f4-l f5 tl pt3 pb3 gray ma0 dn db-l">Quantum Atlas</h1>
          <h1 class="f4-l f5 tc pt3 pb3 gray ma0 db dn-l">QA</h1>
        </div>

        <!-- Searchbar -->
        <div class="w-50 fr pr4">
          <form class="mt2 mb2 black-80 dib w-90 w-100-l flex fl">
            <input id="name" class="input-reset shadow-inner gray f6 ba b--black-20 bg-lighter-gray pa2 db w-90" type="text" placeholder="Search">
            <button class="w-10 bg-lighter-gray b--black-20" style="box-shadow: none; background-color: rgba(240, 240, 240, 0.8);"><img src="../resources/icons/search.svg" style="center"></button>
          </form>
        </div>

      </div>
    </header>

    <!-- Entry title box -->
    <div class="w-100 mw7 cf center pt5 mt4 pl4">
      <span class="blue pointer f6 sans-serif">Atlas Term <span class="f7 pb2 blue relative" style=""> ›</span></span>
      <h1 class="f2-l tl-l f4 ma0 mt1 helvetica">Quantum Entanglement</h1>
      <h3 class="f6 mt2 mb4 gray i tl-l">No, it doesn't allow faster-than-light communication.</h3>
    </div>

    <!-- Entry body -->
    <div class="w-100 mw7 cf center pa4 pt0">
      <div class="w-90 w-100-l center fr-l pr3 pl3 pa0-l mt0">

        <!-- Banner image and caption -->
        <div class="mb4 mt0 tc">
          <div class="relative w-100-l mt0-l">
            <div  class="w-100 tc">
              <div class="ba b--moon-gray mb3 center relative tc"><img src="../resources/images/banners/william-bout-264826.jpg"></div>
            </div>
          </div>
        </div>
        <div style="height: 100px;" class="w-40-l w-100 fr pl2 pr2 pl3-l pr0-l pt2">
          <p class="w-90-l w-100 mw7 center pl4 f7 fr-l sans-serif gray lh-copy mt1 br bl bb b--moon-gray bg-light-gray caption">Entanglement twists together two or more quantum particles, replacing their individual identities with an entwined whole.</p>
        </div>

        <p class="w-60-l w-100 mw7 mw9-ns center ml0-ns mr0-ns mt2 pr4">
          Of all the peculiar things that occur in the quantum world, none is more likely to sprain the brain than entanglement. Einstein thought it was totally whacko, but over the past 50 years physicists have accumulated a huge body of experimental evidence that entanglement is real. Weird, but real.
        </p>

        <p class="w-60-l w-100 mw7 mw9-ns center ml0-ns mr0-ns mt2 pr4">
          It works like this: As a result of <span class="blue selector" onclick="toggle('sidenote-1')">some quantum processes,<span class="f6 pb2 relative" style="top:-.5rem;">⊕</span></span>
         <span class="sidenote side f7 sans-serif lh-copy gray fr pr6 pl5 mb3 mt3 pa0-l ma0-l mt1" id="sidenote-1"><span class="f6 pb2 blue relative" style="">⊕ </span> For example, a particle with 0 spin might decay into two entangled particles with -1/2 and +1/2 spin. Alternatively, when a laser beam travels through a certain kind of “nonlinear” crystal, it sometimes splits into pairs of entangled photons.</span>two or more objects (photons, electrons, atoms, etc.) become so inextricably intertwined—"entangled"—that even if they are physically separated by a great distance, they have a shared connection and cannot be described independently.
        </p>

        <!-- Interactive component and caption -->
        <div class="w-100-l mt4 mb5">
          <div class="relative w-100-l mt2 mt0-l">
            <div  class="w-100">
              <script>
              var controller = new ScrollMagic.Controller();
              </script>
              <div class="w-100 mw7 center overflow-hidden" id="container">
                <img src="../resources/interactives/atom-bubble/atom-left-01.svg" class="absolute w-100 center mw7 z-1" id="atom-left">
                <img src="../resources/interactives/atom-bubble/atom-right-01.svg" class="absolute w-100 center mw7 z-1" id="atom-right">
                <div class="w-50 relative fl overflow-hidden ma0">
                  <img src="../resources/interactives/atom-bubble/bubble-left-01-02.svg" class="relative w-100" id="bubble-left">
                </div>
                <div class="w-50 relative fr overflow-hidden">
                  <img src="../resources/interactives/atom-bubble/bubble-right-01-03.svg" class="relative w-100" id="bubble-right">
                </div>
              </div>

              <script>

                function getWidth() {
                  return $('#container').outerWidth();
                }

                var controller = new ScrollMagic.Controller();

                TweenMax.set("#bubble-left", {x:getWidth()/2 - getWidth()/30})
                TweenMax.set("#bubble-right", {x:-(getWidth()/2 - getWidth()/30)})

                var ease = "Power2.easeInOut";
                var tl = new TimelineMax();
                tl.to("#bubble-left", 2, {x: getWidth()/6, ease: ease});
                tl.to("#bubble-right", 2, {x: -getWidth()/6, ease: ease}, 0);
                tl.to("#atom-left", 2, {x: -(getWidth()/4 + getWidth()/20), ease: ease}, 0);
                tl.to("#atom-right", 2, {x: getWidth()/4 + getWidth()/20, ease: ease}, 0);

                // build scene
                var scene = new ScrollMagic.Scene({
                          triggerElement: "#container"
                        })
                        .setTween(tl)
                        .addTo(controller);

              </script>

            </div>
          </div>
        </div>
        <div style="height: 100px;" class="w-40-l w-100 fr pl2 pr2 pl3-l pr0-l">
          <p class="w-90-l w-100 mw7 center pl4 f7 fr-l sans-serif gray lh-copy mt1 ba b--moon-gray bg-light-gray caption">Entanglement persists even when entangled particles are seperated.</p>
        </div>

        <p class="w-60-l w-100 mw7 mw9-ns center ml0-ns mr0-ns mt2 pr4">
				This leads to seemingly incredible outcomes: When you measure a property of one of a pair of entangled quantum objects (such as its momentum, polarization, or <a href="spin.html">spin</a>), and then measure the same property on the other object, the results are <i>always</i>, <i>invariably</i> correlated. It looks suspiciously like the measurement of the first object instantaneously determines the properties of the second object.
        </p>

        <p class="w-60-l w-100 mw7 mw9-ns center ml0-ns mr0-ns mt2 pr4">
         Whoa. That kind of behavior seems to be completely at odds with a bedrock quantum principle—namely, that a particle does not have specific properties until it is measured. Before being measured it exists in a <a href="superposition.html">superposition</a> of properties with different odds of occurring.
        </p>

        <p class="w-60-l w-100 mw7 mw9-ns center ml0-ns mr0-ns mt2 pr4">
          That’s also true for entangled particles. Measuring a property of one of them will still result in a random value that was impossible to know prior to the measurement. But the corresponding property of the other particle will always be exactly correlated. That’s because entangled particles are not separate, individual entities. They’re both parts of a single quantum whole.
        </p>

        <p class="w-60-l w-100 mw7 mw9-ns center ml0-ns mr0-ns mt2 pr4">
          Imagine two entangled photons that fly apart until they are on opposite sides of the galaxy. Each has a chance of being “spin up” or “spin down,” and their entanglement means that if someone measures the spin of Photon 1 and finds that it is up, then the spin of Photon 2 is down. Or vice versa. Every time. This happens despite the fact that there is no possible way for information about the result of Photon 1’s measurement to reach Photon 2—<em>even if it traveled at the speed of light</em>.
        </p>

        <p class="w-60-l w-100 mw7 mw9-ns center ml0-ns mr0-ns mt2 pr4">
          Einstein balked at that, dismissing entanglement as “spooky action at a distance.” He believed that there must be some so-far-unknown “hidden variables” that exist prior to the measurement that could explain the inevitable correlations.
        </p>

        <p class="w-60-l w-100 mw7 mw9-ns center ml0-ns mr0-ns mt2 pr4">
          In the 1960s, a test was devised to rule out the existence of hidden variables. It was ferociously difficult to perform, but after decades of increasingly sophisticated work, many teams of physicists have all but the shut the door on the hidden variables idea. One of the most accurate tests to date occurred in 2015, and it dismissed many lingering alternative interpretations, known as “loopholes.” That did not “prove” the existence of entanglement; “proof” is hard to come by in science. But it did leave less room to explain entanglement by other means.
        </p>

        <p class="w-60-l w-100 mw7 mw9-ns center ml0-ns mr0-ns mt2 pr4">
          One more strange feature of entanglement is that two entangled particles (photons, say) that interact with two other kinds of particles (such as atoms) can entangle the atoms by proxy. That phenomenon is now being exploited in quantum information processing to transfer quantum states among various components of a system. It’s all but assured that any future quantum computer will harness the power of entanglement.
        </p>

      </div>
    </div>

    <script type='text/javascript' src='../resources/js/sidenote.js'></script>
    <script>iFrameResize({log:false})</script>
    <script type='text/javascript' src="../resources/js/scroll.js"></script>

  </body>
</html>
