<html>
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Quantum Measurement</title>

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="../resources/css/tachyons.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/additions.css"/>
    <link rel="stylesheet" href="../resources/node_modules/lightbox2/dist/css/lightbox.css">

    <!-- Scripts -->
    <script type='text/javascript' src='../resources/js/jquery-3.2.1.min.js'></script>
    <script type='text/javascript' src="../resources/js/iframeResizer.js"></script>
    <script type='text/javascript' src="../resources/node_modules/lightbox2/dist/js/lightbox.js"></script>

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">

  </head>
  <body class="cf lora f5-ns f6 dark-gray bg-lighter-gray">

    <!-- Header -->
    <header class="w-100 center bg-lighter-gray fixed z-max">
      <div class="w-100 cf mw7 center bg-lighter-gray pb1 pt2 bb b--light-gray">

        <!-- Site title and logo -->
        <div class="w-30 fl mt1 pl4">
          <h1 class="f5-l f5 tl pt3 pb3 gray ma0 dn db-l">Quantum Atlas</h1>
          <h1 class="f5-l f5 tc pt3 pb3 gray ma0 db dn-l">QA</h1>
        </div>

        <!-- Searchbar -->
        <div class="w-50 fr pr4">
          <form class="mt2 mb2 black-80 dib w-90 w-100-l flex fl">
            <input id="name" class="input-reset shadow-inner gray f6 ba b--black-20 bg-lighter-gray pa2 db w-90" type="text" placeholder="Search">
            <button class="w-10 bg-lighter-gray b--black-20" style="box-shadow: none; background-color: rgba(240, 240, 240, 0.8);"><img src="../resources/icons/search.svg" style="center"></button>
          </form>
        </div>

      </div>
    </header>

    <!-- Entry title box -->
    <div class="w-100 mw7 cf center pt5 mt4 pl4">
      <span class="blue pointer f6 sans-serif">Atlas Term <span class="f7 pb2 blue relative" style=""> ›</span></span>
      <h1 class="f2-l tl-l f4 ma0 mt1 helvetica">Quantum Measurement</h1>
      <h3 class="f6 mt2 mb4 gray i tl-l">Where did I leave my quantum brick?</h3>
    </div>

    <!-- Entry body -->
    <div class="w-100 mw7 cf center pa4 pt0">
      <div class="w-90 w-100-l center fr-l pr3 pl3 pa0-l mt0">

        <!-- Banner image and caption -->
        <div class="mb4 mt0 tc">
          <div class="relative w-100-l mt0-l">
            <div  class="w-100 tc">
              <iframe src="../resources/interactives/measurement/index.html" class="iframe w-100 v-mid" id="g731" scrolling="no" frameborder="0"></iframe>
            </div>
          </div>
        </div>
        <div style="height: 100px;" class="w-40-l w-100 fr pl2 pr2 pl3-l pr0-l pt2">
          <p class="w-90-l w-100 mw7 center pl4 f7 fr-l sans-serif gray lh-copy mt1 br bl bb b--moon-gray bg-light-gray caption">A caption for Kate's interactive.</p>
        </div>

        <p class="w-60-l w-100 mw7 mw9-ns center ml0-ns mr0-ns mt2 pr4">
          In the everyday world, determining the location of something—like, say, a brick—is as easy as sticking a GPS tracker on it. The same tracker could even provide a readout of the brick’s speed, showing how the location changes over time. You could keep the GPS tracker on the brick and set the whole mess on a scale to measure its weight, all while continuing to tick off the brick’s position. If you’re not easily bored, you could measure other properties of the brick—some changing, some not—and you could pretty much measure them all at the same time.
        </p>

        <!-- Inline image -->
        <div class="w-50-l mt0 tc">
          <img src="../resources/images/Brick.png" class="pl3 pr3 pb2 mw6" style="width: 80% ;float: center ;"/>
        </div>

        <p class="w-60-l w-100 mw7 mw9-ns center ml0-ns mr0-ns mt2 pr4">
          That all goes out the window in the quantum world. Measurements of a quantum brick—if there were such a thing—wouldn’t be so simple. For instance, measuring the location of a quantum brick could give you precise knowledge of where it sits, but you would no longer have any clue how fast it was moving. Then, if you instead pinned down its speed, all of a sudden its location would be smeared out in space. In the quantum world, measurements change the state of an object, and the order in which they’re done matters a lot.
        </p>

        <p class="w-60-l w-100 mw7 mw9-ns center ml0-ns mr0-ns mt2 pr4">
          Another wrinkle is that even for simple quantum systems, it’s impossible to predict the outcome of a measurement with perfect certainty. The best you can do ahead of time is say what the probability of a certain result will be. This doesn’t help predict any one measurement, but it does tell you what will happen if you prepare the same quantum state and make the same measurement many times. The high degree to which this prediction matches what actually happens in experiments is a major source of our confidence that quantum physics really describes nature.
        </p>

        <p class="w-60-l w-100 mw7 mw9-ns center ml0-ns mr0-ns mt2 pr4">
          In one sense, quantum measurements are actually kind of intuitive. Consider what happens after you flip a coin but before you peek at the result. It’s got a 50-50 chance of being heads or tails. Once you actually look at the coin, that 50-50 split vanishes, and you’re 100% certain of the answer. Isn’t that kind of like what’s going on when you measure something like the quantum state of an atom?
        </p>

        <p class="w-60-l w-100 mw7 mw9-ns center ml0-ns mr0-ns mt2 pr4">
          Kind of, but quantum physics is stranger. No one would seriously doubt that a coin is definitely heads or tails before you look at it. But if you try to play the same game with a quantum coin, imagining that it really has one state or the other beforehand and the measurement merely reveals which, you’ll be in for a disappointment. Quantum objects don’t behave like that: Their properties are not determined before they are measured.
        </p>

        <!-- Inline image with side caption -->
        <div class="w-100 items-center flex-l">
          <div class="w-60-l w-100 mw7 mw9-ns center ml0-ns mr0-ns pr4">
            <div class="relative w-100-ns mt0-ns mw6 mw9-l center">
                <div class="w-100 center tc">
                    <img src="../resources/images/Coin_Comic.jpg" class="" style="width: 100% ;float: center ;"/>
                </div>
              </div>
          </div>
          <div class="w-40-l w-100">
            <p class="w-90 pl4-l f7 fr-l center sans-serif gray lh-copy mw5 mw9-l pb2 pb0-ns"></p>
          </div>
        </div>

        <p class="w-60-l w-100 mw7 mw9-ns center ml0-ns mr0-ns mt2 pr4">
          This is non-intuitive and even Einstein initially rejected this whole idea of quantum indeterminacy. He insisted that quantum objects must have a complete set of properties—so far undiscovered—prior to any measurement. This idea is called “local realism”—local because it argues that an object’s properties are affected only by its immediate surroundings, and realism because an object has real, pre-existing properties before it is measured.
        </p>

        <p class="w-60-l w-100 mw7 mw9-ns center ml0-ns mr0-ns mt2 pr4">
          As it turns out, Einstein lost that argument. Since his contentious 1935 “EPR” article, scientists have produced an enormous body of experimental evidence supporting the view that objects have no specific properties before they are observed. Can’t win ‘em all.
        </p>

      </div>
    </div>

    <script type='text/javascript' src='../resources/js/sidenote.js'></script>
    <script>iFrameResize({log:false})</script>
    <script type='text/javascript' src="../resources/js/scroll.js"></script>

  </body>
</html>
