<html>
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Quantum vs. Classical</title>
      
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="../resources/css/tachyons.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/additions.css"/>
    <link rel="stylesheet" href="../resources/node_modules/lightbox2/dist/css/lightbox.css">
    
    <!-- Scripts -->
    <script type='text/javascript' src='../resources/js/jquery-3.2.1.min.js'></script>
    <script type='text/javascript' src="../resources/js/iframeResizer.js"></script>
    <script type='text/javascript' src="../resources/node_modules/lightbox2/dist/js/lightbox.js"></script>
    
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
      
  </head>
  <body class="cf lora f5-ns f6 dark-gray bg-lighter-gray">
      
    <!-- Header -->
    <header class="w-100 center bg-lighter-gray fixed z-max">
      <div class="w-100 cf mw7 center bg-lighter-gray pb1 pt2 bb b--light-gray">
        
        <!-- Site title and logo -->
        <div class="w-30 fl mt1 pl4">
          <h1 class="f5-l f5 tl pt3 pb3 gray ma0 dn db-l">Quantum Atlas</h1>
          <h1 class="f5-l f5 tc pt3 pb3 gray ma0 db dn-l">QA</h1>
        </div>
        
        <!-- Searchbar -->
        <div class="w-50 fr pr4">
          <form class="mt2 mb2 black-80 dib w-90 w-100-l flex fl">
            <input id="name" class="input-reset shadow-inner gray f6 ba b--black-20 bg-lighter-gray pa2 db w-90" type="text" placeholder="Search">
            <button class="w-10 bg-lighter-gray b--black-20" style="box-shadow: none; background-color: rgba(240, 240, 240, 0.8);"><img src="../resources/icons/search.svg" style="center"></button>
          </form>
        </div>
        
      </div>
    </header>
    
    <!-- Entry title box -->
    <div class="w-100 mw7 cf center pt5 mt4 pl4">
      <span class="blue pointer f6 sans-serif">Atlas Term <span class="f7 pb2 blue relative" style=""> ›</span></span>
      <h1 class="f2-l tl-l f4 ma0 mt1 helvetica">Quantum vs. Classical</h1>
      <h3 class="f6 mt2 mb4 gray i tl-l">What makes the quantum world different?</h3>
    </div>
    
    <!-- Entry body --> 
    <div class="w-100 mw7 cf center pa4 pt0">
      <div class="w-90 w-100-l center fr-l pr3 pl3 pa0-l mt0">
        
        <!-- Banner image and caption -->
        <div class="mb4 mt0 tc">
          <div class="relative w-100-l mt0-l">
            <div  class="w-100 tc">
              <div class="ba b--moon-gray mb3 center relative tc"><img src="../resources/images/banners/andreas-gucklhorn-285567.jpg"></div>
            </div>
          </div>
        </div>
        <div style="height: 100px;" class="w-40-l w-100 fr pl2 pr2 pl3-l pr0-l pt2">
          <p class="w-90-l w-100 mw7 center pl4 f7 fr-l sans-serif gray lh-copy mt1 br bl bb b--moon-gray bg-light-gray caption">Size is one way to distinguish the quantum world from the classical world, although it's not a perfect separation.</p>
        </div>
        
        <p class="w-60-l w-100 mw7 mw9-ns center ml0-ns mr0-ns mt2 pr4">
          Everyday objects more or less obey the laws of physics discovered by Isaac Newton and other luminaries of the Enlightenment. You can (usually) find your car keys because they stay right where you put them an hour ago. They don’t suddenly appear in the refrigerator. You can decide how to dress because your clothes don’t change color in the closet. A well-pitched baseball always arrives at the catcher’s mitt and not in the parking lot.
        </p>
        
        <p class="w-60-l w-100 mw7 mw9-ns center ml0-ns mr0-ns mt2 pr4">
          These everyday experiences are the result of classical physics—the laws and equations that were around before quantum mechanics. The world of classical physics is predictable. If you know the initial position and speed of an object, as well as the forces that act on it, you can predict its motion with perfect certainty. That’s how NASA can place a spacecraft at a precise location a billion kilometers away.
        </p>
        
        <!-- Inline image -->
        <div class="w-50-l mt0 tc">
          <img src="../resources/images/Classical_Space.png" class="pl3 pr3 pb4 pt2 mw6" style="width: 60% ;float: center ;"/>
        </div>
        
        <p class="w-60-l w-100 mw7 mw9-ns center ml0-ns mr0-ns mt2 pr4">
          But in the quantum world—at the scale of atoms or smaller—things are utterly different. Not weird or mysterious or incomprehensible. Just way different.
        </p>
        
        <p class="w-60-l w-100 mw7 mw9-ns center ml0-ns mr0-ns mt2 pr4">
          For one thing, properties of quantum objects can’t take on any old value. Someone walking down a ramp can stop anywhere along the way, but many quantum properties are restricted to certain allowed values—more like items placed on a staircase than on a ramp. Something can be on step 2, 3, 4 or whatever. But not step 2.67 or 4.23. It’s the way nature seems to operate at the smallest scales.
        </p>
        
        <!-- Inline image -->
        <div class="w-50-l mt0 tc">
          <img src="../resources/images/Classical_Ramp.png" class="pl3 pr3 pb2 pt2 mw6" style="width: 100% ;float: center ;"/>
        </div>
        
        <p class="w-60-l w-100 mw7 mw9-ns center ml0-ns mr0-ns mt2 pr4">
          Each increment is a “quantum,” from the Latin word for “how much” (plural: quanta). [CC1] Some quantum effects defy intuition, but others are easier to understand. For example, each element in the periodic table has its own unique luminous fingerprint, which is also called a spectrum. That’s because each has its own distinct arrangement of electrons with certain specific energies.
        </p>
        
        <p class="w-60-l w-100 mw7 mw9-ns center ml0-ns mr0-ns mt2 pr4">
				When one electron gains <i>exactly</i> the right amount of energy—no more, no less—it can jump to a higher energy level. Eventually it falls back down, and it sheds that energy as a quantum of light—also known as a photon. The color of the light depends on the energy difference between the two levels, and so is unique to every element. (When electrons change levels, they do so instantaneously in a “quantum leap.”)
        </p>
        
        <!-- Sidebar image and caption -->
        <div class="w-100 w-40-l relative items-center flex fr pl5-ns">
          <div class="absolute-l w-100 mw7-ns pr5-ns">
            <div class="relative w-100 mt2 mt0-ns">
              <div class="w-100 tc">
                <a class="example-image-link" href="../resources/images/Sodium-glow.jpg" data-lightbox="example-1" data-title="A sodium vapor lamp."><img class="mb3 w-100 mw5 mw9-l" src="../resources/images/Sodium-glow.jpg"></a>
              </div>
              <div class="center pl2 pr2 w-100 mw5 mw9-l">
								<p class="f7 sans-serif lh-copy gray w-100">The yellow color of a <a href="https://en.wikipedia.org/wiki/Sodium-vapor_lamp">sodium vapor lamp</a> is a direct result of the spectrum of sodium atoms.</p>
              </div>
            </div>
          </div>
        </div>
        
        <p class="w-60-l w-100 mw7 mw9-ns center ml0-ns mr0-ns mt2 pr4">
				Many more properties, including aspects of magnetism, are quantized on the atomic scale. But that does not mean that an object’s properties have fixed values. In fact, isolated quantum objects or systems do not have any particular properties until they are measured, a feature you can learn more about in the <a href="measurement.html">entry on quantum measurement</a>. Quantum physics provides a way to calculate the probability of any given measurement outcome, though, even if it doesn’t provide the perfect predictability of classical physics.
        </p>
        
        <p class="w-60-l w-100 mw7 mw9-ns center ml0-ns mr0-ns mt2 pr4">
          Finally, in the quantum world objects can behave like both particles and waves, depending on the situation. Although massless photons behave like waves, and can be reflected, refracted and so forth, they also behave like particles in certain experiments. For example, when a photon with the right energy strikes some materials, it can liberate an electron from its usual cramped position. This interaction, called the photoelectric effect, got Einstein a Nobel prize and serves as the basis for every photovoltaic cell that makes electricity out of light from the sun.
        </p>
        
        <!-- Inline image -->
        <div class="w-50-l mt0 tc">
          <img src="../resources/images/Classical_PhotonCollison.png" class="pl3 pr3 pb2 pt2 mw6" style="width: 100% ;float: center ;"/>
        </div>
        
        <p class="w-60-l w-100 mw7 mw9-ns center ml0-ns mr0-ns mt2 pr4">
          Ordinary matter like electrons also have a fickle personality. As particles, they are used in lithography, welding, chemical processing, medicine and many more applications. But when a beam of electrons passes through a barrier with two parallel slits and then on to a detector, the electrons behave like waves, forming interference patterns on the detector.
        </p>
        
      </div>
    </div>
      
    <script type='text/javascript' src='../resources/js/sidenote.js'></script>
    <script>iFrameResize({log:false})</script>
    <script type='text/javascript' src="../resources/js/scroll.js"></script>
    
  </body>
</html>
