<html>
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Superposition</title>

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="../resources/css/tachyons.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/additions.css"/>
    <link rel="stylesheet" href="../resources/node_modules/lightbox2/dist/css/lightbox.css">

    <!-- Scripts -->
    <script type='text/javascript' src='../resources/js/jquery-3.2.1.min.js'></script>
    <script type='text/javascript' src="../resources/js/iframeResizer.js"></script>
    <script type='text/javascript' src="../resources/node_modules/lightbox2/dist/js/lightbox.js"></script>

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">

  </head>
  <body class="cf lora f5-ns f6 dark-gray bg-lighter-gray">

    <!-- Header -->
    <header class="w-100 center bg-lighter-gray fixed z-max">
      <div class="w-100 cf mw7 center bg-lighter-gray pb1 pt2 bb b--light-gray">

        <!-- Site title and logo -->
        <div class="w-30 fl mt1 pl4">
          <h1 class="f5-l f5 tl pt3 pb3 gray ma0 dn db-l">Quantum Atlas</h1>
          <h1 class="f5-l f5 tc pt3 pb3 gray ma0 db dn-l">QA</h1>
        </div>

        <!-- Searchbar -->
        <div class="w-50 fr pr4">
          <form class="mt2 mb2 black-80 dib w-90 w-100-l flex fl">
            <input id="name" class="input-reset shadow-inner gray f6 ba b--black-20 bg-lighter-gray pa2 db w-90" type="text" placeholder="Search">
            <button class="w-10 bg-lighter-gray b--black-20" style="box-shadow: none; background-color: rgba(240, 240, 240, 0.8);"><img src="../resources/icons/search.svg" style="center"></button>
          </form>
        </div>

      </div>
    </header>

    <!-- Entry title box -->
    <div class="w-100 mw7 cf center pt5 mt4 pl4">
      <span class="blue pointer f6 sans-serif">Atlas Term <span class="f7 pb2 blue relative" style=""> ›</span></span>
      <h1 class="f2-l tl-l f4 ma0 mt1 helvetica">Quantum Superposition</h1>
      <h3 class="f6 mt2 mb4 gray i tl-l">A fundamental—and familiar—feature of quantum physics.</h3>
    </div>

    <!-- Entry body -->
    <div class="w-100 mw7 cf center pa4 pt0">
      <div class="w-90 w-100-l center fr-l pr3 pl3 pa0-l mt0">

        <!-- Banner image and caption -->
        <div class="mb4 mt0 tc">
          <div class="relative w-100-l mt0-l">
            <div  class="w-100 tc">
              <div class="ba b--moon-gray mb3 center relative tc"><img src="../resources/images/banners/superposition-cropped.jpg"></div>
            </div>
          </div>
        </div>
        <div style="height: 100px;" class="w-40-l w-100 fr pl2 pr2 pl3-l pr0-l">
          <p class="w-90-l w-100 mw7 center pl4 f7 fr-l sans-serif gray lh-copy mt1 br bl bb b--moon-gray bg-light-gray caption">Ripples in a pond or a pool capture one of the most essential ideas in quantum physics.</p>
        </div>

        <p class="w-60-l w-100 mw7 mw9-ns center ml0-ns mr0-ns mt2 pr4">
          Every time you strum a guitar and hear the tones from each string harmonize into a rich chord, you’re experiencing the teamwork of waves. When two waves bump into each other, they tend to join forces. It’s something that also happens on the surface of a pond after tossing in a handful of pebbles—the ripples bump into each other and interfere on their journey toward the shore.
        </p>

        <p class="w-60-l w-100 mw7 mw9-ns center ml0-ns mr0-ns mt2 pr4">
          Both water waves in a pond and sound waves from a guitar capture a generic feature: Overlapping waves combine, blending their undulations by addition. The resulting wave is just a point-by-point sum of individual waves that yields a single combined whole called a superposition.
        </p>

        <!-- Interactive component and caption -->
        <div class="w-100-l mt4 mb4 tc">
          <div class="relative w-100-l mt2 mt0-l">
            <div  class="w-100 tc">
              <iframe src="../resources/interactives/three-js-waves-cross_section/index.html" class="iframe w-100 v-mid" id="g731" scrolling="no" frameborder="0"></iframe>
            </div>
          </div>
        </div>
        <div style="height: 100px;" class="w-40-l w-100 fr pl2 pr2 pl3-l pr0-l">
          <p class="w-90-l w-100 mw7 center pl4 f7 fr-l sans-serif gray lh-copy mt1 br bl bb b--moon-gray bg-light-gray caption">When you click or tap to create a wave, it travels outward from a central point. When two waves overlap, they interfere and yield brighter or darker spots than any single wave.</p>
        </div>

        <p class="w-60-l w-100 mw7 mw9-ns center ml0-ns mr0-ns mt2 pr4">
          The quantum world has its own version of this pairing in which two or more quantum waves—often representing very different physical situations—merge into a single quantum whole. Sometimes it seems incomprehensibly weird, like plopping an apple next to an orange and calling the pair a banana, but it’s very real.
        </p>

        <!-- Inline image -->
        <div class="w-60-l mt0 tc">
          <img src="../resources/images/Superpos_Banana.png" class="pl3 pr3 pb2 mw6" style="width: 80% ;float: center ;"/>
        </div>

        <p class="w-60-l w-100 mw7 mw9-ns center ml0-ns mr0-ns mt2 pr4">
					Whereas ordinary waves represent the movements of water or air molecules, quantum waves are different--They represent the likelihood of something happening. And while water waves alternate between crests and troughs, quantum waves swing between higher and lower probabilities for various quantum properties.
        </p>

        <p class="w-60-l w-100 mw7 mw9-ns center ml0-ns mr0-ns mt2 pr4">
					One of those properties might be energy. For instance, an electron bound to an atom can live at particular energy levels. In a superposition, it may have a chance of having one of two energies—a common situation in quantum physics—so that the two waves representing those two energies get added together.
        </p>

        <!-- Sidebar image and caption -->
        <div class="w-100 w-40-l relative items-center flex fr pl5-ns">
          <div class="absolute-l w-100 mw7-ns pr5-ns">
            <div class="relative w-100 mt2 mt0-ns">
              <div class="w-100 tc">
                <a class="example-image-link" href="../resources/images/Hydrogen_Density_Plots.png" data-lightbox="example-1" data-title="Electron orbitals of the hydrogen atom."><img class="mb3 w-100 mw5 mw9-l" src="../resources/images/single-orbital.jpg"></a>
              </div>
              <div class="center pl2 pr2 w-100 mw5 mw9-l">
                <p class="f7 sans-serif lh-copy gray w-100">An electron in an atom gets smeared out into a cloud of possibilities known as an <em>orbital.</em></p>
              </div>
            </div>
          </div>
        </div>

        <p class="w-60-l w-100 mw7 mw9-ns center ml0-ns mr0-ns mt2 pr4">
					It’s common to describe this by saying that the electron has two different energies at the same time. But that’s like saying the ripples on a pond are in many places at once; it’s true, but it isn’t all that helpful to talk about waves in those terms. Waves, by nature, are extended things, and it’s the properties of the whole wave—the frequency of its oscillations and the speed at which it travels, among others—that matter.
        </p>

        <p class="w-60-l w-100 mw7 mw9-ns center ml0-ns mr0-ns mt2 pr4">
					Perhaps surprisingly, the effects of quantum superposition can be seen at real-world scales, much bigger than the submicroscopic realm of electrons and atoms. In one experiment, a beam of electrons was fired at a barrier containing two narrow slits, past which sat a sensitive detector that could register where an electron struck—kind of like a camera. If electrons were behaving like tiny billiard balls, you would expect the detector to see a pattern with two clusters of arrivals, one directly behind each slit. Instead, the detector saw an interference pattern, as though individual electrons were interfering with themselves.
        </p>

        <div class="w-100 mt0 tc">
          <div class="w-40-l w-100 dtc pa4 pl0-l">
            <img src="../resources/images/double-slit-classical.jpg" class="fl mw5 w-50"/>
            <img src="../resources/images/double-slit-quantum.jpg" class="mw5 fl w-50"/>
          </div>
          <div class="w-25-ns w-100 dtc mb3">

          </div>
        </div>

        <!-- Sidebar image and caption -->
        <div class="w-100 w-40-l relative flex fr pl5-ns">
          <div class="absolute-l w-100 mw7-ns fr pr5-ns">
            <div class="relative w-100 mt2 pt3 mt0-ns">
              <div class="w-100 tc">
                <a class="example-image-link" href="../resources/images/twoslit.gif" data-lightbox="example-2" data-title="Single electrons build into an interference pattern"><img class="mb3 w-100 mw5 mw9-l" src="../resources/images/twoslit.gif"></a>
              </div>
              <div class="center pl2 pr2 w-100 mw5 mw9-l">
                <p class="f7 sans-serif lh-copy gray w-100">In the double-slit experiment, individual electrons hit a screen and build up an interference pattern. If the electrons were merely particles, there would be no such pattern.</p>
              </div>
            </div>
          </div>
        </div>

         <p class="w-60-l w-100 mw7 mw9-ns center ml0-ns mr0-ns mt2 pr4">
    			It’s an experiment that challenges intuition, but quantum physics easily explains what’s going on. The two slits expose the wave-like behavior of single electrons by channeling them into a quantum superposition of “went through the left slit” and “went through the right slit.” Adding up the wave patterns generated by the two paths yields the pattern of alternating bands that the detector actually records.
         </p>

       <!-- Inline animated component with side caption -->
       <!-- <div class="w-100 items-center flex-l mt4 pb4-l">
         <div class="w-60-l w-100 mw7 mw9-ns center ml0-ns mr0-ns pr4 pt2">
           <div class="relative w-100-ns mt2 mt0-ns mw6 mw9-l center">
               <div class="w-100 center tc">
                   <iframe src="../resources/interactives/two-slit/index.html" class="iframe w-100 v-mid" id="8471" scrolling="no" frameborder="0"></iframe>
               </div>
             </div>
         </div>
         <div class="w-40-l w-100">
           <p class="w-90 pl4-l f7 fr-l center sans-serif gray lh-copy mw5 mw9-l">Treating an electron as a wave shows how the double-slit experiment produces an interference pattern.</p>
         </div>
       </div> -->

       <p class="w-60-l w-100 mw7 mw9-ns center ml0-ns mr0-ns mt2 pr4">
        So the existence of quantum superpositions isn’t really up for debate. Still, some of the greatest minds in science have struggled with how to interpret quantum superposition as well as other features of quantum physics, and that struggle is ongoing. There are now almost as many interpretations of quantum physics as there are quantum physicists, but they all agree that superposition is a necessary—and real—feature of the theory.
       </p>

      </div>
    </div>

    <script type='text/javascript' src='../resources/js/sidenote.js'></script>
    <script>iFrameResize({log:false})</script>
    <script type='text/javascript' src="../resources/js/scroll.js"></script>

  </body>
</html>
