<html>
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Uncertainty</title>

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="../resources/css/tachyons.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/additions.css"/>
    <link rel="stylesheet" href="../resources/node_modules/lightbox2/dist/css/lightbox.css">

    <!-- Scripts -->
    <script type='text/javascript' src='../resources/js/jquery-3.2.1.min.js'></script>
    <script type='text/javascript' src="../resources/js/iframeResizer.js"></script>
    <script type='text/javascript' src="../resources/node_modules/lightbox2/dist/js/lightbox.js"></script>

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">

  </head>
  <body class="cf lora f5-ns f6 dark-gray bg-lighter-gray">

    <!-- Header -->
    <header class="w-100 center bg-lighter-gray fixed z-max">
      <div class="w-100 cf mw7 center bg-lighter-gray pb1 pt2 bb b--light-gray">

        <!-- Site title and logo -->
        <div class="w-30 fl mt1 pl4">
          <h1 class="f5-l f5 tl pt3 pb3 gray ma0 dn db-l">Quantum Atlas</h1>
          <h1 class="f5-l f5 tc pt3 pb3 gray ma0 db dn-l">QA</h1>
        </div>

        <!-- Searchbar -->
        <div class="w-50 fr pr4">
          <form class="mt2 mb2 black-80 dib w-90 w-100-l flex fl">
            <input id="name" class="input-reset shadow-inner gray f6 ba b--black-20 bg-lighter-gray pa2 db w-90" type="text" placeholder="Search">
            <button class="w-10 bg-lighter-gray b--black-20" style="box-shadow: none; background-color: rgba(240, 240, 240, 0.8);"><img src="../resources/icons/search.svg" style="center"></button>
          </form>
        </div>

      </div>
    </header>

    <!-- Entry title box -->
    <div class="w-100 mw7 cf center pt5 mt4 pl4">
      <span class="blue pointer f6 sans-serif">Atlas Term <span class="f7 pb2 blue relative" style=""> ›</span></span>
      <h1 class="f2-l tl-l f4 ma0 mt1 helvetica">The Uncertainty Principle</h1>
      <h3 class="f6 mt2 mb4 gray i tl-l">The quantum limit on how sure you can be.</h3>
    </div>

    <!-- Entry body -->
    <div class="w-100 mw7 cf center pa4 pt0">
      <div class="w-90 w-100-l center fr-l pr3 pl3 pa0-l mt0">

        <!-- Banner image and caption -->
        <div class="mb4 mt0 tc">
          <div class="relative w-100-l mt0-l">
            <div  class="w-100 tc">
              <div class="ba b--moon-gray mb3 center relative tc"><img src="../resources/images/banners/uncertainty-cropped.jpg"></div>
            </div>
          </div>
        </div>
        <div style="height: 100px;" class="w-40-l w-100 fr pl2 pr2 pl3-l pr0-l pt2">
          <p class="w-90-l w-100 mw7 center pl4 f7 fr-l sans-serif gray lh-copy mt1 br bl bb b--moon-gray bg-light-gray caption">Uncertainty principle banner caption.</p>
        </div>

        <p class="w-60-l w-100 mw7 mw9-ns center ml0-ns mr0-ns mt2 pr4">
          Way down at the quantum scale, one thing you can be absolutely sure of is uncertainty. Indeed, one of the bedrock tenets of quantum physics is the famous and frequently misinterpreted Uncertainty Principle, formulated by Werner Heisenberg in the 1920s.
        </p>

        <p class="w-60-l w-100 mw7 mw9-ns center ml0-ns mr0-ns mt2 pr4">
          There are a few ways that the Uncertainty Principle is commonly misunderstood. The principle does not say that by observing a quantum event, we inevitably influence the outcome. (That’s often true, but entirely irrelevant.) Nor does it say that we can’t make any quantum measurements with certainty.
        </p>

        <p class="w-60-l w-100 mw7 mw9-ns center ml0-ns mr0-ns mt2 pr4">
          What it does say is that, for certain pairs of complementary properties—such as the position and momentum of a quantum object—the more precisely we measure one, the less precisely we can pin down the other. That’s not a statement about some flaw or limit to our ability to observe things. Rather, it describes a
          <span class="blue selector" onclick="toggle('sidenote-1')">fundamental trade-off built into nature,<span class="f6 pb2 relative" style="top:-.5rem;">⊕</span></span>
          <span class="sidenote side f7 sans-serif lh-copy gray fr pr6 pl5 mb3 mt3 pa0-l ma0-l mt1" id="sidenote-1"><span class="f6 pb2 blue relative" style="">⊕ </span>As Heisenberg put it: “One can never know with perfect accuracy both of those two important factors which determine the movement of one of the smallest particles—its position and its velocity. It is impossible to determine accurately both the position and the direction and speed of a particle at the same instant.”</span>
           like a seesaw between the complementary properties.
        </p>

        <p class="w-60-l w-100 mw7 mw9-ns center ml0-ns mr0-ns mt2 pr4">
          The Uncertainty Principle is responsible for a phenomenon that would seem totally outlandish if it wasn’t physically real: “virtual” particles that pop in and out of existence in empty space. This happens because time and energy, like position and momentum, are complementary—meaning that over short time intervals, quantum physics can disobey the universe’s ordinary rules about energy conservation. One way of thinking about this is that tiny particles and their opposite partners pop out from nothing in pairs and recombine in an instant. You’ll never catch them in an experiment, but their effects are still real.
        </p>

        <p class="w-60-l w-100 mw7 mw9-ns center ml0-ns mr0-ns mt2 pr4">
          Paradoxically, the uncertainty principle can be used to actually increase the certainty in a measurement if you’re only interested in one of two complementary variables. The principle says that multiplying the uncertainty in one property times the uncertainty in the other can never exceed a specific fixed value. So, you can get greater accuracy in measuring one property if you’re willing to put up with or disregard uncertainty in the complementary property.
        </p>

        <!-- Interactive inline component and side caption -->
        <div class="w-100 items-center flex-l mt4 pb4-l">
           <div class="w-60-l w-100 mw7 mw9-ns center ml0-ns mr0-ns pr4 pt2">
             <div class="relative w-100-ns mt2 mt0-ns mw6 mw9-l center ba b--light-gray shadow-4">
                 <div class="w-100 center tc">
                     <iframe src="../resources/interactives/uncertainty/drag.html" class="iframe w-100 v-mid" id="8471" scrolling="no" frameborder="0"></iframe>
                 </div>
               </div>
           </div>
           <div class="w-40-l w-100">
             <p class="w-90 pl4-l f7 fr-l center sans-serif gray lh-copy mw5 mw9-l">Position and velocity are complementary properties. By dragging the blue circle, representing the shared uncertainty, you can "squeeze" uncertainty from one property into another.</p>
           </div>
         </div>

        <p class="w-60-l w-100 mw7 mw9-ns center ml0-ns mr0-ns mt2 pr4">
          This process is called “squeezing.” In the case of light, amplitude (brightness) and phase (position of wave peaks relative to a given point) are complementary properties. By squeezing light, you can get greatly improved accuracy in measuring the amplitude at the expense of decreasing the information about phase.
        </p>

      </div>
    </div>

    <script type='text/javascript' src='../resources/js/sidenote.js'></script>
    <script>iFrameResize({log:false})</script>
    <script type='text/javascript' src="../resources/js/scroll.js"></script>

  </body>
</html>
